<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="plot.js"></script>
    <script src="websocket.js"></script>
    <title>Tracker</title>
    <style>
        body {
            margin: 0;
        }

        #mapid {
            width: 100%;
            height: 95vh;
        }

        section {
            display: flex;
            align-items: center;
            height: 5vh;
        }

        section * {
            margin: 10px;
        }

        .slider {
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="mapid"></div>
    <div id="plot" style="width:100%;height:95vh;"></div>
    <section>
        <button class="spacing" onclick="test()">Play</button>
        <input id="target_clock" type="number" min="10" max="2000" placeholder="readings" value="100">
        <input id="guess_clock" type="number" min="10" max="2000" placeholder="guessing" value="1000">
        <span id="time"></span>
        <input id="slider" class="slider" type="range" min="0" max="100" value="0">
    </section>
    <script>
        // const mymap = L.map('mapid').setView([50.44939187220999, 30.451736680294598], 14.5);
        // L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiamFja3Jvc3MiLCJhIjoiY2tvdTdla2xzMDQwZjJub2IweXJhajc2MCJ9.BBNjH9bJ0U32S-r777oCLQ', {
        //     attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        //     maxZoom: 18,
        //     id: 'mapbox/streets-v11',
        //     tileSize: 512,
        //     zoomOffset: -1,
        //     accessToken: 'your.mapbox.access.token'
        // }).addTo(mymap);

        // const marker = L.marker([50.45, 30.45]).addTo(mymap);

    

        (async () => {
            await testfuk2();
        })();

        const trace_path = {
            type: 'scattermapbox',
            mode: 'markers+lines',
            name: 'path',
            marker: {
                color: 'blue',
                size: 12,
            }
        };
        const trace_trackers = {
            type: 'scattermapbox',
            mode: 'markers+lines',
            name: 'trackers',
            marker: {
                color: 'red',
                size: 15,
            }
        };
        const trace_target = {
            type: 'scattermapbox',
            mode: 'markers',
            name: 'target',
            marker: {
                color: 'green',
                size: 15,
            }
        };
        const trace_guess = {
            type: 'scattermapbox',
            mode: 'markers+lines',
            name: 'target_guess',
            marker: {
                color: 'purple',
                size: 15,
            }
        };

        const plot_data = [trace_path, trace_trackers, trace_target, trace_guess];
        const plot_layout = {
            showlegend: true,
            margin: { l: 0, t: 0, b: 0, r: 0 },
            mapbox: {
                center: { 'lat': 0, 'lon': 0 },
                style: 'open-street-map',
                zoom: 1
            }
        }
        const plot_config = { responsive: true, displayModeBar: false }

        plot = new Plot('plot', plot_data, plot_layout, plot_config);

        const slider = document.getElementById("slider");
        const output = document.getElementById("time");
        output.innerHTML = slider.value;

        slider.oninput = function () {
            output.innerHTML = parseFloat(this.value).toFixed(1);
        };

        let t1 = null, t2 = null;

        test = () => {
            if (t1 === null || t2 == null) {
                t = document.getElementById("target_clock").value;
                g = document.getElementById("guess_clock").value;
                t1 = setInterval(() => wrap_type('target'), t);
                t2 = setInterval(() => wrap_type('guess'), g);
            }
            else {
                clearInterval(t1);
                clearInterval(t2);
                t1 = null;
                t2 = null;
            }
        }

        function wrap_type(type) {
            message = {
                'type': type,
            };
            send_socket(JSON.stringify(message));
        }

        async function testfuk() {
            while (true) {
                const lat = 50.45 + (Math.random() * (0.01 - 0.001) + 0.001);
                const lon = 30.45 + (Math.random() * (0.01 - 0.001) + 0.001);
                marker.setLatLng([lat, lon]).update();
                await new Promise(r => setTimeout(r, 10));
            }
        }

        async function testfuk2() {
            while (true) {
                const lat = 50.45 + (Math.random() * (0.01 - 0.001) + 0.001);
                const lon = 30.45 + (Math.random() * (0.01 - 0.001) + 0.001);
                marker.setLatLng([lat, lon]).update();
                await new Promise(r => setTimeout(r, 10));
            }
        }

    </script>
</body>

</html>